<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PortArduino.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PortArduino.Properties.Settings.BigDataConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BigData.accdb;Persist Security Info=True;User ID=admin;Jet OLEDB:Database Password=admin"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <PortArduino.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckPort" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatabaseAdress" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabasePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseLogin" serializeAs="String">
                <value />
            </setting>
        </PortArduino.Properties.Settings>
    </userSettings>
</configuration>